body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.customForm .MuiInputBase-formControl{
  border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.customForm .css-qwj3dc-MuiButtonBase-root-MuiButton-root{
  text-transform: capitalize;
}
.customForm .css-qwj3dc-MuiButtonBase-root-MuiButton-root:hover{
  background-color: #fff;
  border: 1px solid #1976d2;
  color: #1976d2;
}